numpy
scipy
librosa
soundfile
audioread
opencv-python
opencv-contrib-python
scikit-learn==1.7.2
joblib
pandas
matplotlib
tqdm
openai
python-dotenv
requests
pillow
fastapi
uvicorn
sqlalchemy
pymysql
python-jose[cryptography]
passlib
python-multipart
sentence-transformers
